<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="friends" href="/tabs/friends">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Друзья</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages" href="/tabs/messages">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Сообщения</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Настройки</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
